n8n-workflows/form-builder-agent-openrouter.json
{
  "name": "Form Builder Agent - OpenRouter",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "form-builder-agent-openrouter",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "form-builder-agent-openrouter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "user-prompt",
              "name": "userPrompt",
              "value": "={{ $json.body.prompt || $json.prompt }}",
              "type": "string"
            },
            {
              "id": "model-preference",
              "name": "model",
              "value": "={{ $json.body.model || 'qwen/qwen2.5-vl-32b-instruct' }}",
              "type": "string"
            },
            {
              "id": "form-context",
              "name": "formContext",
              "value": "={{ $json.body.context || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-input",
      "name": "Extract Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://your-domain.com"
            },
            {
              "name": "X-Title",
              "value": "Form Builder Agent"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $json.model }}\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a professional form builder AI agent. Your task is to generate complete, valid form configurations based on user descriptions.\\n\\nYou MUST respond with valid JSON matching this exact structure:\\n\\n{\\n  \\\"name\\\": \\\"form-name\\\",\\n  \\\"title\\\": \\\"Form Title\\\",\\n  \\\"description\\\": \\\"Form description\\\",\\n  \\\"elements\\\": [\\n    {\\n      \\\"id\\\": \\\"unique-id\\\",\\n      \\\"type\\\": \\\"text|email|number|textarea|select|radio|checkbox|date|time|datetime-local|file|phone|url|range|slider|color|rating|signature|switch|toggle|dropdown|multiselect|autocomplete|tag|chip|divider|heading|subheading|paragraph|label|image|video|audio|spacer|html|code|markdown|json|container|section|card|tabs|accordion|stepper|progress|button|submit|reset|link|qrcode|barcode|map|location|coordinates|rich-text|wysiwyg|calendar|timepicker|daterange|matrix|likert|nps|slider-range|calculator|formula|conditional|payment|stripe|paypal|address|country|state|city|zipcode|currency|percentage|rating-emoji|star-rating|thumbs|heart-rating|feedback|testimonial|upload-multiple|drag-drop|camera|webcam|voice-recorder|audio-recorder|sketch|drawing|whiteboard|kanban|table|grid|chart|graph|gauge|counter|timer|countdown|stopwatch|clock|weather|rss|social-share|social-follow|embed|iframe|pdf|document|spreadsheet|presentation|3d-model|ar|vr|360-image|360-video|poll|quiz|survey|form-steps|wizard|multi-page|captcha|recaptcha|hcaptcha|turnstile|otp|pin-input|password|password-strength|biometric|face-id|touch-id|fingerprint|2fa|mfa|sms-verification|email-verification|magic-link\\\",\\n      \\\"label\\\": \\\"Field Label\\\",\\n      \\\"placeholder\\\": \\\"Placeholder text\\\",\\n      \\\"required\\\": true|false,\\n      \\\"options\\\": [\\\"Option 1\\\", \\\"Option 2\\\"],\\n      \\\"helpText\\\": \\\"Help text\\\",\\n      \\\"description\\\": \\\"Field description\\\",\\n      \\\"tooltip\\\": \\\"Tooltip text\\\",\\n      \\\"defaultValue\\\": \\\"default value\\\",\\n      \\\"rows\\\": 4,\\n      \\\"validation\\\": {\\n        \\\"min\\\": 0,\\n        \\\"max\\\": 100,\\n        \\\"minLength\\\": 0,\\n        \\\"maxLength\\\": 500,\\n        \\\"pattern\\\": \\\"regex-pattern\\\",\\n        \\\"message\\\": \\\"Error message\\\",\\n        \\\"accept\\\": \\\"file types\\\",\\n        \\\"maxFiles\\\": 5,\\n        \\\"maxSize\\\": 5242880,\\n        \\\"step\\\": 1\\n      },\\n      \\\"fieldStyles\\\": {\\n        \\\"className\\\": \\\"custom-class\\\",\\n        \\\"width\\\": \\\"full\\\",\\n        \\\"backgroundColor\\\": \\\"#ffffff\\\",\\n        \\\"borderColor\\\": \\\"#e5e7eb\\\",\\n        \\\"borderRadius\\\": \\\"8px\\\",\\n        \\\"padding\\\": \\\"12px\\\",\\n        \\\"fontSize\\\": \\\"14px\\\",\\n        \\\"fontFamily\\\": \\\"inherit\\\",\\n        \\\"color\\\": \\\"#1f2937\\\"\\n      },\\n      \\\"labelStyles\\\": {\\n        \\\"color\\\": \\\"#374151\\\",\\n        \\\"fontSize\\\": \\\"14px\\\",\\n        \\\"fontWeight\\\": \\\"500\\\"\\n      },\\n      \\\"conditionalLogic\\\": \\\"logic expression\\\",\\n      \\\"customCSS\\\": \\\"custom styles\\\",\\n      \\\"animation\\\": \\\"fade-in\\\",\\n      \\\"ariaLabel\\\": \\\"accessibility label\\\"\\n    }\\n  ],\\n  \\\"settings\\\": {\\n    \\\"theme\\\": \\\"modern|minimal|classic|elegant|professional|playful|dark|light|gradient|glassmorphism|neumorphism\\\",\\n    \\\"layout\\\": {\\n      \\\"style\\\": \\\"card|inline|floating|sidebar|split|fullscreen|modal|drawer\\\",\\n      \\\"questionSpacing\\\": 24,\\n      \\\"labelAlignment\\\": \\\"top|left|right|floating|inline\\\",\\n      \\\"gridColumns\\\": 1,\\n      \\\"elementWidth\\\": \\\"auto|full|half|third|quarter|custom\\\"\\n    },\\n    \\\"visual\\\": {\\n      \\\"animations\\\": {\\n        \\\"enabled\\\": true,\\n        \\\"type\\\": \\\"fade|slide|bounce|zoom|rotate\\\"\\n      },\\n      \\\"shadows\\\": {\\n        \\\"enabled\\\": true,\\n        \\\"intensity\\\": \\\"low|medium|high\\\"\\n      }\\n    },\\n    \\\"submitButton\\\": {\\n      \\\"text\\\": \\\"Submit\\\",\\n      \\\"style\\\": \\\"primary|secondary|outline|ghost|gradient\\\",\\n      \\\"position\\\": \\\"left|center|right|sticky|floating\\\"\\n    },\\n    \\\"canvasStyles\\\": {\\n      \\\"backgroundColor\\\": \\\"#ffffff\\\",\\n      \\\"backgroundImage\\\": \\\"url or gradient\\\",\\n      \\\"backgroundPattern\\\": \\\"dots|grid|lines|waves\\\",\\n      \\\"formBackgroundColor\\\": \\\"#f9fafb\\\",\\n      \\\"borderRadius\\\": \\\"12px\\\",\\n      \\\"padding\\\": \\\"24px\\\",\\n      \\\"fontFamily\\\": \\\"Inter, system-ui, sans-serif\\\",\\n      \\\"fontSize\\\": 14,\\n      \\\"primaryColor\\\": \\\"#3b82f6\\\",\\n      \\\"secondaryColor\\\": \\\"#8b5cf6\\\",\\n      \\\"formWidth\\\": 600\\n    },\\n    \\\"validation\\\": {\\n      \\\"liveValidation\\\": \\\"onChange|onBlur|onSubmit|off\\\"\\n    },\\n    \\\"notifications\\\": {\\n      \\\"email\\\": {\\n        \\\"enabled\\\": true,\\n        \\\"recipients\\\": [\\\"email@example.com\\\"],\\n        \\\"subject\\\": \\\"New form submission\\\"\\n      }\\n    },\\n    \\\"integrations\\\": {\\n      \\\"webhooks\\\": [],\\n      \\\"analytics\\\": {\\n        \\\"enabled\\\": false\\n      }\\n    }\\n  }\\n}\\n\\nAvailable field types (comprehensive list):\\n\\n**Input Fields:**\\n- text: Single-line text input\\n- email: Email with validation\\n- number: Numeric input\\n- textarea: Multi-line text\\n- phone: Phone number\\n- url: Website URL\\n- password: Password field\\n- search: Search input\\n\\n**Selection Fields:**\\n- select: Dropdown menu\\n- radio: Radio buttons\\n- checkbox: Single or multiple checkboxes\\n- dropdown: Advanced dropdown\\n- multiselect: Multiple selection\\n- autocomplete: Type-ahead search\\n- tag: Tag input\\n- chip: Chip selection\\n\\n**Date & Time:**\\n- date: Date picker\\n- time: Time picker\\n- datetime-local: Date and time\\n- daterange: Date range picker\\n- calendar: Full calendar\\n- timepicker: Advanced time picker\\n\\n**File & Media:**\\n- file: File upload\\n- upload-multiple: Multiple file upload\\n- drag-drop: Drag and drop upload\\n- image: Image display\\n- video: Video embed/upload\\n- audio: Audio player/upload\\n- camera: Camera capture\\n- webcam: Webcam capture\\n- voice-recorder: Voice recording\\n- audio-recorder: Audio recording\\n\\n**Rich Content:**\\n- rich-text: WYSIWYG editor\\n- wysiwyg: Rich text editor\\n- markdown: Markdown editor\\n- code: Code editor\\n- html: HTML input\\n- json: JSON editor\\n\\n**Interactive:**\\n- range: Slider\\n- slider: Range slider\\n- slider-range: Dual range slider\\n- color: Color picker\\n- rating: Star rating\\n- rating-emoji: Emoji rating\\n- star-rating: Star rating\\n- thumbs: Thumbs up/down\\n- heart-rating: Heart rating\\n- signature: Signature pad\\n- switch: Toggle switch\\n- toggle: Toggle button\\n- sketch: Drawing canvas\\n- drawing: Drawing pad\\n- whiteboard: Whiteboard\\n\\n**Layout & Structure:**\\n- container: Element container\\n- section: Form section\\n- card: Card container\\n- tabs: Tabbed content\\n- accordion: Collapsible sections\\n- stepper: Step indicator\\n- divider: Visual separator\\n- spacer: Spacing element\\n\\n**Display Elements:**\\n- heading: Section heading\\n- subheading: Sub-heading\\n- paragraph: Text paragraph\\n- label: Text label\\n- button: Action button\\n- submit: Submit button\\n- reset: Reset button\\n- link: Hyperlink\\n\\n**Data & Visualization:**\\n- table: Data table\\n- grid: Data grid\\n- chart: Chart display\\n- graph: Graph visualization\\n- gauge: Gauge meter\\n- progress: Progress bar\\n- counter: Number counter\\n- timer: Timer\\n- countdown: Countdown timer\\n- stopwatch: Stopwatch\\n- clock: Clock display\\n\\n**Advanced Features:**\\n- calculator: Calculator field\\n- formula: Formula field\\n- conditional: Conditional logic\\n- matrix: Matrix question\\n- likert: Likert scale\\n- nps: Net Promoter Score\\n- payment: Payment field\\n- stripe: Stripe payment\\n- paypal: PayPal payment\\n\\n**Location:**\\n- address: Address input\\n- country: Country selector\\n- state: State/province selector\\n- city: City selector\\n- zipcode: Postal code\\n- map: Map display\\n- location: Location picker\\n- coordinates: GPS coordinates\\n\\n**Specialized:**\\n- qrcode: QR code display\\n- barcode: Barcode scanner\\n- currency: Currency input\\n- percentage: Percentage input\\n- otp: OTP input\\n- pin-input: PIN code\\n- captcha: CAPTCHA\\n- recaptcha: Google reCAPTCHA\\n- hcaptcha: hCaptcha\\n- 2fa: Two-factor auth\\n\\n**Survey & Feedback:**\\n- poll: Poll question\\n- quiz: Quiz question\\n- survey: Survey question\\n- feedback: Feedback form\\n- testimonial: Testimonial input\\n\\n**Embeds:**\\n- embed: Generic embed\\n- iframe: iFrame embed\\n- pdf: PDF viewer\\n- document: Document viewer\\n- weather: Weather widget\\n- rss: RSS feed\\n- social-share: Social sharing\\n\\n**Multi-step:**\\n- form-steps: Form wizard\\n- wizard: Step-by-step form\\n- multi-page: Multi-page form\\n\\nGenerate forms that are:\\n1. Well-structured with logical field ordering\\n2. Include appropriate validation rules\\n3. Use proper field types for data collection\\n4. Have clear labels and helpful placeholder text\\n5. Include help text for complex fields\\n6. Apply responsive layout settings\\n7. Use modern UI patterns and animations\\n8. Optimize for accessibility\\n9. Include proper error handling\\n10. Support conditional logic when needed\\n\\nIMPORTANT: Return ONLY the JSON object, no markdown formatting, no explanations.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.userPrompt }}\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 4000,\n  \"top_p\": 1,\n  \"frequency_penalty\": 0,\n  \"presence_penalty\": 0\n}",
        "options": {}
      },
      "id": "openrouter-request",
      "name": "OpenRouter API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "openrouter-credentials",
          "name": "OpenRouter API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst messageContent = response.choices[0].message.content;\n\n// Clean the response - remove markdown code blocks if present\nlet cleanedContent = messageContent.trim();\nif (cleanedContent.startsWith('```json')) {\n  cleanedContent = cleanedContent.replace(/^```json\\n/, '').replace(/\\n```$/, '');\n} else if (cleanedContent.startsWith('```')) {\n  cleanedContent = cleanedContent.replace(/^```\\n/, '').replace(/\\n```$/, '');\n}\n\ntry {\n  // Parse the JSON\n  const formConfig = JSON.parse(cleanedContent);\n  \n  // Validate and ensure all elements have unique IDs\n  if (formConfig.elements && Array.isArray(formConfig.elements)) {\n    formConfig.elements = formConfig.elements.map((element, index) => {\n      if (!element.id) {\n        element.id = `element-${Date.now()}-${index}`;\n      }\n      return element;\n    });\n  }\n  \n  // Ensure required settings structure\n  if (!formConfig.settings) {\n    formConfig.settings = {};\n  }\n  if (!formConfig.settings.layout) {\n    formConfig.settings.layout = {\n      style: 'card',\n      questionSpacing: 24,\n      labelAlignment: 'top',\n      gridColumns: 1\n    };\n  }\n  if (!formConfig.settings.submitButton) {\n    formConfig.settings.submitButton = {\n      text: 'Submit',\n      style: 'primary',\n      position: 'right'\n    };\n  }\n  \n  return [{\n    json: {\n      success: true,\n      formConfig: formConfig,\n      metadata: {\n        generatedAt: new Date().toISOString(),\n        model: response.model,\n        provider: 'openrouter',\n        usage: response.usage\n      }\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      success: false,\n      error: 'Failed to parse AI response',\n      details: error.message,\n      rawResponse: cleanedContent\n    }\n  }];\n}"
      },
      "id": "parse-response",
      "name": "Parse & Validate Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "webhook-response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1130, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Input": {
      "main": [
        [
          {
            "node": "OpenRouter API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter API": {
      "main": [
        [
          {
            "node": "Parse & Validate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-18T00:00:00.000Z",
  "versionId": "1"
}
